window#waybar {
    font-family: "IosevkaTerm Nerd Font";
    font-size: 13px;
    color: #f9a8d4;
    background-color: transparent;
    background: none;
}

#workspaces {
    margin-top: 2px;
    margin-right: 5px;
}

#workspaces button {
    color: #f9a8d4;
    background: rgba(9, 9, 15, 0.45);
    border: 1px solid #f9a8d4;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 4px 1px;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 13px;
}

#workspaces button.active {
    background: radial-gradient(circle, rgba(203,166,247,0.9) 0%, rgba(193,168,247,0.9) 12%, rgba(249,226,175,0.9) 19%, rgba(189,169,247,0.9) 20%, rgba(182,171,247,0.9) 24%, rgba(198,255,194,0.9) 36%, rgba(177,172,247,0.9) 37%, rgba(170,173,248,0.9) 48%, rgba(255,255,255,0.9) 52%, rgba(166,174,248,0.9) 52%, rgba(160,175,248,0.9) 59%, rgba(148,226,213,0.9) 66%, rgba(155,176,248,0.9) 67%, rgba(152,177,248,0.9) 68%, rgba(205,214,244,0.9) 77%, rgba(148,178,249,0.9) 78%, rgba(144,179,250,0.9) 82%, rgba(180,190,254,0.9) 83%, rgba(141,179,250,0.9) 90%, rgba(137,180,250,0.9) 100%);
    color: #09090F;
    border: 2px solid #f9a8d4;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px 2px;
}

#window, #cpu, #network, #wireplumber, #clock, #custom-music, #custom-focused-window, #custom-distro-icon, #battery, #tray, #memory {
    color: #f9a8d4;
    background: rgba(9, 9, 15, 0.45);
    border: 1px solid #f9a8d4;
    margin-right: 6px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 4px 1px;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 2px;
}

#clock {
    background: linear-gradient(118deg, rgba(205,214,244,0.6) 5%, rgba(243,139,168,0.6) 5%, rgba(243,139,168,0.6) 20%, rgba(205,214,244,0.6) 20%, rgba(205,214,244,0.6) 40%, rgba(243,139,168,0.6) 40%, rgba(243,139,168,0.6) 60%, rgba(205,214,244,0.6) 60%, rgba(205,214,244,0.6) 80%, rgba(243,139,168,0.6) 80%, rgba(243,139,168,0.6) 95%, rgba(205,214,244,0.6) 95%);
    background-size: 200% 300%;
    animation: gradient_f_nh 4s linear infinite;
    color: #09090F;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border: 2px solid #f9a8d4;
    padding: 4px 12px;
    font-size: 13px;
    margin-right: 6px;
}

@keyframes gradient_f_nh {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#custom-distro-icon {
    color: #f9a8d4;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px 10px;
    border-radius: 10px;
}
